.body {
    color: red;
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b7/Venus_Williams_at_the_2010_US_Open_09.jpg);
}
//the font of the text
p {
    font-size: 350px;
}

h1{
    font-size: 380px;
}

#ms{
    font-size: 320px;
}
